dfilipov_aplikacija_2/dfilipov_aplikacija_2_web/src/conf/xml-resources/web-service-references/MeteoWebService/wsdl/localhost_8084/dfilipov_aplikacija_1/MeteoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.soap.web.dfilipov.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.soap.web.dfilipov.nwtis.foi.org/" name="MeteoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.soap.web.dfilipov.nwtis.foi.org/" schemaLocation="http://localhost:8084/dfilipov_aplikacija_1/MeteoWebService?xsd=1" />
</xsd:schema>
</types>
<message name="getLatestMeteoData">
<part name="parameters" element="tns:getLatestMeteoData" />
</message>
<message name="getLatestMeteoDataResponse">
<part name="parameters" element="tns:getLatestMeteoDataResponse" />
</message>
<message name="getAddedAddresses">
<part name="parameters" element="tns:getAddedAddresses" />
</message>
<message name="getAddedAddressesResponse">
<part name="parameters" element="tns:getAddedAddressesResponse" />
</message>
<message name="getRankedAddresses">
<part name="parameters" element="tns:getRankedAddresses" />
</message>
<message name="getRankedAddressesResponse">
<part name="parameters" element="tns:getRankedAddressesResponse" />
</message>
<message name="getLastNMeteoData">
<part name="parameters" element="tns:getLastNMeteoData" />
</message>
<message name="getLastNMeteoDataResponse">
<part name="parameters" element="tns:getLastNMeteoDataResponse" />
</message>
<message name="getMeteoDataFromDateRange">
<part name="parameters" element="tns:getMeteoDataFromDateRange" />
</message>
<message name="getMeteoDataFromDateRangeResponse">
<part name="parameters" element="tns:getMeteoDataFromDateRangeResponse" />
</message>
<portType name="MeteoWebService">
<operation name="getLatestMeteoData">
<input wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getLatestMeteoDataRequest" message="tns:getLatestMeteoData" />
<output wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getLatestMeteoDataResponse" message="tns:getLatestMeteoDataResponse" />
</operation>
<operation name="getAddedAddresses">
<input wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getAddedAddressesRequest" message="tns:getAddedAddresses" />
<output wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getAddedAddressesResponse" message="tns:getAddedAddressesResponse" />
</operation>
<operation name="getRankedAddresses">
<input wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getRankedAddressesRequest" message="tns:getRankedAddresses" />
<output wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getRankedAddressesResponse" message="tns:getRankedAddressesResponse" />
</operation>
<operation name="getLastNMeteoData">
<input wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getLastNMeteoDataRequest" message="tns:getLastNMeteoData" />
<output wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getLastNMeteoDataResponse" message="tns:getLastNMeteoDataResponse" />
</operation>
<operation name="getMeteoDataFromDateRange">
<input wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getMeteoDataFromDateRangeRequest" message="tns:getMeteoDataFromDateRange" />
<output wsam:Action="http://server.soap.web.dfilipov.nwtis.foi.org/MeteoWebService/getMeteoDataFromDateRangeResponse" message="tns:getMeteoDataFromDateRangeResponse" />
</operation>
</portType>
<binding name="MeteoWebServicePortBinding" type="tns:MeteoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getLatestMeteoData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAddedAddresses">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRankedAddresses">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastNMeteoData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMeteoDataFromDateRange">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="MeteoWebService">
<port name="MeteoWebServicePort" binding="tns:MeteoWebServicePortBinding">
<soap:address location="http://localhost:8084/dfilipov_aplikacija_1/MeteoWebService" />
</port>
</service>
</definitions>