dfilipov_aplikacija_2/dfilipov_aplikacija_2_web/web/WEB-INF/wsdl/localhost_8084/dfilipov_aplikacija_1/MeteoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://server.soap.web.dfilipov.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.soap.web.dfilipov.nwtis.foi.org/">

<xs:element name="getAddedAddresses" type="tns:getAddedAddresses" />

<xs:element name="getAddedAddressesResponse" type="tns:getAddedAddressesResponse" />

<xs:element name="getLastNMeteoData" type="tns:getLastNMeteoData" />

<xs:element name="getLastNMeteoDataResponse" type="tns:getLastNMeteoDataResponse" />

<xs:element name="getLatestMeteoData" type="tns:getLatestMeteoData" />

<xs:element name="getLatestMeteoDataResponse" type="tns:getLatestMeteoDataResponse" />

<xs:element name="getMeteoDataFromDateRange" type="tns:getMeteoDataFromDateRange" />

<xs:element name="getMeteoDataFromDateRangeResponse" type="tns:getMeteoDataFromDateRangeResponse" />

<xs:element name="getRankedAddresses" type="tns:getRankedAddresses" />

<xs:element name="getRankedAddressesResponse" type="tns:getRankedAddressesResponse" />

<xs:complexType name="getAddedAddresses">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAddedAddressesResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0" />
<xs:element name="ID" type="xs:long" />
<xs:element name="latitude" type="xs:string" minOccurs="0" />
<xs:element name="longitude" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankedAddresses">
<xs:sequence>
<xs:element name="n" type="xs:int" />
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankedAddressesResponse">
<xs:sequence>
<xs:element name="return" type="tns:addressCount" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addressCount">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
<xs:element name="count" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLatestMeteoData">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLatestMeteoDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteo" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteo">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
<xs:element name="humidity" type="xs:string" minOccurs="0" />
<xs:element name="lastDownload" type="xs:dateTime" minOccurs="0" />
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0" />
<xs:element name="pressure" type="xs:string" minOccurs="0" />
<xs:element name="temperature" type="xs:string" minOccurs="0" />
<xs:element name="weather" type="xs:string" minOccurs="0" />
<xs:element name="windSpeed" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastNMeteoData">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0" />
<xs:element name="n" type="xs:int" />
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastNMeteoDataResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteo" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMeteoDataFromDateRange">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0" />
<xs:element name="beginDate" type="xs:string" minOccurs="0" />
<xs:element name="endDate" type="xs:string" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMeteoDataFromDateRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteo" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>